.noto-sans-tc {
    font-family: "Noto Sans TC", system-ui;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
  }
  

button{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
}

body {
    font-family:  noto-sans-tc,"Montserrat",monospace;
    font-size: 30px;
    background-color: rgb(198,211,230);
}
img {
    position: relative;
    float: left;
}

@media only screen and (max-width: 710px) {
    img{
        width: 100%;
    }
    p{
        text-align: center;
    }
}
